*{
    list-style: none;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body{
    margin: 0;
    font-family: "Barlow", "Arial", sans-serif;
}

img {
    display: block;
    height: auto;
}

@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: 
    url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), 
    url("../fonts/barlow-v12-latin-regular.woff") format("woff"); 
}

@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: 
    url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), 
    url("../fonts/barlow-v12-latin-700.woff") format("woff"); 
}

@font-face {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: 
    url("../fonts/fraunces-v23-latin-900.woff2") format("woff2"), 
    url("../fonts/fraunces-v23-latin-900.woff") format("woff"); 
}


/* header bigen  */
.site-header {
    padding-top: 35px;
    padding-bottom: 40px;
}

.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.site-header__logo {
    display: inline-block;
    margin-right: auto;
}
.site-header__logo-ios {
    display: none;
}
.site-header__burger-mnu {
    width: 16px;
    height: 18px;
    background-image: url("../images/burger.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}
.close-btn {
    background-image: url("../images/close.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.site-header__nav {
    position: absolute;
    right: 0;
    top: 55px;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 575px;
    margin: 0;
    padding-top: 100px;
    padding-left: 0;
    background: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
}
.active {
    display: flex;
}
.site-header__nav-item {
    margin-bottom: 32px;
}
.site-header__nav-link {
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;   
}


@media only screen and (min-width: 650px) {
    .site-header__logo-phone {
        display: none;
    }
    .site-header__logo-ios {
        display: block;
    }
    .site-header__burger-mnu {
        display: none;
    }
    .site-header__nav {
        top: 3px;
        right: 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        padding: 0;
        height: auto;
        background: transparent;
    }
    .site-header__nav-item {
        margin-bottom: 0;
        margin-left: 32px;
    }
    .site-header__nav-link {
        text-decoration: none;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;
    }
}
/* header end  */

/* MAIN BIGEN  */

/* hero bigen */
.hero {
    
}
.hero__box {
    background-image: url("../images/Bitmap.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.hero__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 100px 24px; 
}
.hero__heading {
    font-family: "Fraunces";
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #FEFCF7;    
}
.hero__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.hero__link {
    display: inline-block;
    padding: 15px 30px;
    font-weight: 900;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;    
    background-color: #0E8784;
    border-radius: 6px;
}

@media only screen and (min-width: 650px) and (max-width: 992px){
    .hero__box {
        background-image: url("../images/hero-bg-middle.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        
    }
    .hero__wrapper {
        align-items: flex-start;
        margin-left: 60px;
        width: 398px;
    }
    .hero__heading-box {
        width: 320px;
    }
    .hero__heading {
        text-align: left;
    }
    .hero__title {
        text-align: start;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #FEFCF7;
        mix-blend-mode: normal;
    }
    .site-header__nav-link {
        color: #83888F;
    }
    .site-header__nav-link:hover {
        color: #333D4B;
    }
}

@media only screen and (min-width: 992px) {
    .hero__box {
        background-image: url("../images/hero-bg-desktop.jpg");
        border-radius: 10px;
    }
    .hero__wrapper {
        align-items: flex-start;
        margin-left: 60px;
        width: 398px;
    }
    .hero__heading-box {
        width: 320px;
    }
    .hero__heading {
        text-align: left;
    }
    .hero__title {
        text-align: start;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #FEFCF7;
        mix-blend-mode: normal;
    }
    .site-header__nav-link {
        color: #83888F;
    }
    .site-header__nav-link:hover {
        color: #333D4B;
    }
}
/* hero end */

/* collection bigen  */

.collection__wrapper {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 80px;
}
.collection__list {
    margin: 0;
    padding-left: 0;
}
.collection__list::before { 
    content: "";
    display: inline-block;
    margin-bottom: 13px;
    width: 100%;
    height: 72px;
    background-image: url("../images/collection.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.collection__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 282px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}
.collection__item::before {
    content: "";
    display: inline-block;
    width: 200px;
    height: 151px;
    background-image: url("../images/coffe.png");
    background-repeat: no-repeat;
    background-position: center;
}
.collection__heading {
    margin-bottom: 16px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;    
}
.collection__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #333D4B;    
}

@media only screen and (min-width: 650px) {
    .collection__list::before {
        position: relative;
        top: 60px;
        z-index: -1;
        background-image: url("../images/collection-ios.svg");
    }
    .collection__item {
        width: 482px;
        flex-direction: row;
    }
    .collection__item::before {
        margin-right: 70px;
    }
    .collection__heading {
        text-align: start;
    }
    .collection__title {
        text-align: start;
    }
}
@media only screen and (min-width: 992px) {
    .collection__list::before {
        height: 196px;
        background-image: url("../images/collection-desktop.svg");
    }

    .collection__item {
        max-width: 245px;
        flex-direction: column;
        align-items: center;
    }
    .collection__item::before {
        margin-right: 0;
    }
    .collection__list {
        display: flex;
        flex-wrap: wrap;
    }
    .collection__heading {
        text-align: center;
    }
    .collection__title {
        text-align: center;
    }
}
/* collection end  */

/* choose section bigen  */
.choose {
}
.choose__wrapper {
    position: relative;
    width: 100%;
    height: 850px;
    padding: 64px 20px 20px 20px;
    background-color: #2C343E;
}
.choose__heading {
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    color: #FEFCF7;    
}
.choose__title {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8
}
.choose__list {
    position: absolute;
    top: 300px;
    left: calc(50% - 140px);
    margin: 0;
    padding-top: 20px-;
    padding-left: 0;
}
.choose__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    margin-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
    padding: 33px;
    background-color: #0E8784;
}
.choose__item:first-child::before {
    content: "";
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 72px;
    height: 72px;
    background-image: url("../images/best.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.choose__item:first-child::before {
    content: "";
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 110px;
    height: 72px;
    background-image: url("../images/best.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.choose__item:nth-child(2)::before {
    content: "";
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 110px;
    height: 72px;
    background-image: url("../images/exclusive.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.choose__item:last-child::before {
    content: "";
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 110px;
    height: 72px;
    background-image: url("../images/shipping.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.choose__item-heading {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;    
}
.choose__item-title{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;    
}

@media only screen and (min-width: 650px) {
    .choose__wrapper {
        height: 600px;
    }
    .choose__top-box {
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
    .choose__list {
        left: calc(50% - 270px);
    }
    .choose__item {
        width: 540px;
        justify-content: center;
        flex-direction: row;
    }
    .choose__item::before {
        margin-right: 40px;
    }
    .choose__item-heading {
        margin-top: 0;
        margin-bottom: 16px;
        text-align: start;
    }
    .choose__item-title {
        margin-top: 0;
        text-align: start;
    }
}
@media only screen and (min-width: 992px) {
    .choose__wrapper {
        height: 500px;
    }
    .choose__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        left: 0;
    }
    .choose__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        margin-right: 0;
        margin-left: 0;
    }
    .choose__item-box {
        width: 255px;
    }
    .choose__item::before {
        margin-right: 0;
    }
    .choose__item:nth-child(2) {
        margin-right: 20px;
        margin-left: 20px;
    }
    .choose__item-heading {
        margin-bottom: 16px;
        text-align: center;
    }
    .choose__item-title {
        text-align: center;
    }
    
}


/* choose section end  */
